body  {
    background: linear-gradient(to bottom, #1B244A 0%, #9AABD8 200%);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5A6791;
}

@font-face {
    font-family: "Cursed";
    src: url("index.ttf"); 
}

.container {
    width: 575px;
    height: 385px;
    color : white;
    background-color: #1B244A;
    display: flex;
    flex-direction: row;
    margin-top:150px ;
    justify-content: space-evenly;
    
}

.teams .title{
    margin-top: 70px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 149px;
    font-family: "Verdana";
    font-size: 40px;
    font-weight: bold;
   
}

.btn { 
    margin: 10px 10px 20px 0;
    width: 160px;
    height: 120px;
    background-color: #080001;
    padding: 18px 20px  0  0;
    color: #F94F6D;
    font-family: "Cursed";
    font-weight: 400;
    font-size: 85px;
    border: none;
    border-radius: 5px;
}

.btns {
    margin-left: 5px;
}

.small-btn {
    width: 45px;
    margin-left: 5px;
    height: 45px;
    background-color: #1B244A;
    color: #9AABD8;
    font-family: "Cursed";
    font-size: 18px;
    font-weight: 400;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}

#reset-el {
    position: absolute;
    top: 480px;
    padding: 10px 5px;
    border-radius: 5px;
    font-family: "Cursed";
    font-weight: bold;
    color: #F94F6D;
    font-size: 18px;
}

#reset-el:hover {
    background-color: #F94F6D;
    color: #FFF;
}

#colon {
    position: absolute;
    color: white;
    top : 300px;
    
    font-size: 100px;
    font-family: "Cursed";
}

 

@media (max-width: 768px) {
  .container {
    /* Keep similar desktop rules but adjust widths or margins as needed */
    width: 575px;
    margin-top: 150px;
  }
  
  /* Adjust other elements here if desired */
  .teams .title {
    font-size: 40px;
  }
}
